

body {
}

.blog-search-wrapper {
    border-radius: 30px;
    height: 46px;
    padding: 5px 0 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.blog-search-content {
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
}

.blog-search-icon {
    display: block;
    cursor: pointer;
    width: 20%;
    height: 100%;
    font-size: 18px;
    color: #1c1c1c;
    padding: 5px 0;
    text-align: center;
}

.blog-item-button {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 14px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
}

.blog-item-button:hover {
    background-color: #7fad39;
    color: white;
    border: 1px solid white;
}

.blog-item-title {
    cursor: pointer;
    line-height: 28px;
}


.recent_news-wrapper {

}

.recent_news-item {
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 10px 0;
}

.recent_news-img {

}

.recent_news-title {
    display: -webkit-box;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    clear: both;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
}

.recent_news-time {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.blog_detail-title {
    font-size: 30px;
    font-weight: bold;
}

.blog_detail-content {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
}

.blog_detail-text {
    font-size: 16px;
}

.blog_detail-image {
    height: 92px;
    padding: 5px 5px 10px 5px;
}

.blog_detail-role {
    color: rgba(0, 0, 0, 0.5);
}