

.page-title-wrapper {
    position: relative;
    margin-top: 28px;
    height: max-content;
    height: 165px;
    text-align: center;
}

.page-title-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.page-title {
    display: inline-block;
    height: max-content;
    position: absolute;
    font-size: 46px;
    font-weight: bold;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    z-index: 1;
}