
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.category-list-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.category-list-item-wrapper {
    padding: 0;
}

.category-list-item {
    font-size: 16px;
    line-height: 22px;
    list-style-type: none;
    margin: 15px 0;
}

.category-list-item-link {
    color: #1c1c1c;
    text-decoration: none;
    cursor: pointer;
}

.sale-off {
    font-weight: bold;
    font-size: 36px;
    width: fit-content;
}

.sale-off:after {
    display: block;
    height: 4px;
    width: 100%;
    background: #7fad39;
    content: "";
    margin: 5px auto 0;
}



