<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>Shop</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/page_title_img.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body>
    <div th:insert="fragments/fragments :: header"></div>
    <div class="container col-9 search-content">
        <div th:insert="home :: header-search-bar"></div>
    </div>
    <div th:insert="fragments/fragments :: page-title-image"></div>
    <div class="container col-9 search-content">
        <div class="row">
            <div class="col-3">
                <h5 class="category-list-title">Category</h5>
                <ul class="category-list-item-wrapper">
                    <li class="category-list-item">
                        <a th:onclick="|categoryChoose(0);findByCostBetweenAndSort()|"
                           class="category-list-item-link active">
                            ALL
                        </a>
                    </li>
                    <li th:each="category, stat : ${categories}" class="category-list-item">
                        <a th:text="${category.name}"
                           th:onclick="|categoryChoose(${stat.index + 1});
                                        findByCostBetweenAndSort()|"
                           class="category-list-item-link">
                        </a>
                    </li>
                </ul>
                <h5 class="category-list-title mt-5">Price</h5>
                <form >
                    <div class="range-container">
                        <div class="slider-track"></div>
                        <input class="range-slide-1" type="range" min="0" max="100" value="0" id="slider-1" oninput="slideOne()">
                        <input class="range-slide-2" type="range" min="0" max="100" value="1000" id="slider-2" oninput="slideTwo()">
                    </div>
                    <div class="range-values">
                        <span style="color: #DD2222;font-weight: bold">$</span>
                        <input id="range1" type="number" value="0" class="range-values-item" max="100" min="0"
                               onkeyup="rangeKeyUp()"
                        />
                        <span style="color: #DD2222;font-weight: bold;margin: 0 10px;"> &dash; </span>
                        <span style="color: #DD2222;font-weight: bold">$</span>
                        <input id="range2" type="number" value="1000" class="range-values-item" max="100" min="0"
                               onkeyup="rangeKeyUp()"
                        />
                        <span class="btn btn-info" style="color: white" onclick="findByCostBetweenAndSort()">Find</span>
                        <span class="btn btn-info" style="color: white" onclick="reset()">Reset</span>
                    </div>
                </form>

                <!--        Latest product        -->
                <h5 class="category-list-title mt-5">Latest Product</h5>
                <div class="latest-product-wrapper owl-carousel mt-5">
                    <div class="latest-product-row_1 latest-product-row"></div>
                    <div class="latest-product-row_2 latest-product-row"></div>
                </div>
            </div>
            <div class="col-9">
                <h2 class="sale-off">Sale off</h2>
                <!--       sale off product         -->
                <div class="owl-carousel sale-off-product owl-theme">

                </div>
                <hr class="mt-5"/>

                <!--      product view          -->
                <div class="row">
                    <div class="col-4" style="float: left">
                        <span class="d-inline-block" style="color: rgba(0, 0, 0, 0.5)">Sort by</span>
                        <select class="form-select d-inline-block"
                                aria-label="Default select example"
                                onchange="findByCostBetweenAndSort(this.value)">
                            <option value="default" selected>Default</option>
                            <option value="price-dec">Price decrease</option>
                        </select>
                    </div>

                    <div class="col-4 text-center d-flex" style="justify-content: center; align-items: center">
                        <span class="product-size"
                              style="font-weight: bold;margin: 0 5px;">
                        </span>
                        <span style="color: rgba(0, 0, 0, 0.5)">Products found</span>
                    </div>
                </div>
                <!--       product         -->
                <div class="row shop-product" id="product-view">

                </div>
                <nav aria-label="...">
                    <ul class="pagination pagination-sm justify-content-center">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script th:src="@{/js/shop.js}"></script>
</body>
</html>